.about{
    text-align: center;
    color: white;

    .aboutSlides{
        height: 500px;
        align-content: center;
        background-image: url('../../../public/comeby/about.jpg');
        background-size: 100% 100%;
        h3{
            font-size: clamp(100px, 10vw , 150px);
        }
    }
    .aboutPub{
        height: 600px;
        align-content: center;

        p{
            width: 75%;
            margin: auto;
        }
    }
}