.hero{
    height: 80vh;
    width: 99%;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory; 

    .heroSlideContainer{
        padding: 0;
        margin: 0;
        height: 100%;
        list-style: none;
        display: flex;
        width: fit-content;

        .slideItem {
            flex: 0 0 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            background: black;
            scroll-snap-align: start;
            scroll-snap-stop: always;
        }

        video,
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}