.events{
    border: 1px solid white;
    text-align: center;
    color: white;

    .eventsHero{
        border: 1px solid white;
        height: 500px;
        align-content: center;
    }
    .eventsDetaiils{
        border: 1px solid white;
        min-height: 600px;
        align-content: center;
    }
}